{% extends 'base/base2.html'%}
{%block content%}
<div class="contaier">
    <div class="header">
        <div class="header-left">
            <img class="logo" src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png" alt="insta">
        </div>
        <div class="header-centre">
            <input type="text" name="search" placeholder="...search">
        </div>
        <div class="header-right">
            <i id="icon" class="bi bi-house-door-fill"></i>
            <i id="icon" class="bi bi-send"></i>
            <i id="icon" class="bi bi-plus-square"></i>
            <i id="icon" class="bi bi-camera-reels"></i>
            <i id="icon" class="bi bi-heart"></i>
            <i id="icon" class="bi bi-person-circle"></i>
        </div>
    </div>
    <hr>
    <div class="posts">
        <div class="row p-5">
            <div class="col-md-9">
               <div class="card card-body">
                   <div class="avatar">
                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
                    <p class="p-2">jayden</p>
                    <i class="bi bi-three-dots"></i>
                   </div>
                   <hr>
                   <img src="https://media.istockphoto.com/photos/flying-autumn-leaves-picture-id1262572653?b=1&k=20&m=1262572653&s=170667a&w=0&h=gDPYPtFysu7SFBKDrxt7xXniv2xC5WhFSlbuxTGT45Q=" alt="">
                   <div class="icons p-3">
                    <i id="icon" class="bi bi-heart"></i>
                    <i id="icon" class="bi bi-chat"></i>
                    <i id="icon" class="bi bi-send"></i>
                    <i id="icon" style=" display: flex; justify-content: flex-end;" class="bi bi-bookmark"></i>
                   </div>
                   <h6>1,626 likes</h6>
                   <p style="font-weight: 600;">The best stock of images around</p>
                   <hr>
                   <div class="comment">
                    <i style="font-size: 20px;" class="bi bi-emoji-smile"></i>
                    <input type="text" placeholder="add comment">
                    <h6>post</h6>
                   </div>
               </div> 
            </div>
            <div class="col-md-3 p-2">
                <div class="card card-body p-1">
                    <div class="avatar p-2">
                     <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar">
                     <p class="p-2">Lesly</p>
                     <i class="bi bi-three-dots"></i>
                    </div>
                    <hr>
                    <img src="https://images.unsplash.com/photo-1629735215150-d988775b90cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE0MHxSX0Z5bi1Hd3Rsd3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                    <div class="icons p-3">
                     <i id="icon" class="bi bi-heart"></i>
                     <i id="icon" class="bi bi-chat"></i>
                     <i id="icon" class="bi bi-send"></i>
                     <i id="icon" style=" display: flex; justify-content: flex-end;" class="bi bi-bookmark"></i>
                    </div>
                    <h6>626 likes</h6>
                    <p style="font-weight: 600;">The best stock of images around</p>
                    <hr>
                    <div class="comment">
                     <i style="font-size: 20px;" class="bi bi-emoji-smile"></i>
                     <input type="text" placeholder="add comment">
                     <h6>post</h6>
                    </div>
                </div> 
             </div>
        </div>
    </div>
</div>
{%endblock%}