{% extends 'base/base2.html'%}
{%block content%}
<div class="contaier">
    <div class="header">
        <div class="header-left">
            <img class="logo" src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png" alt="insta">
        </div>
        <div class="header-centre">
            <input type="text" name="search" placeholder="...search">
        </div>
        <div class="header-right">
            <i id="icon" class="bi bi-house-door-fill"></i>
            <i id="icon" class="bi bi-send"></i>
            <i id="icon" class="bi bi-plus-square"></i>
            <i id="icon" class="bi bi-camera-reels"></i>
            <i id="icon" class="bi bi-heart"></i>
            <i id="icon" class="bi bi-person-circle"></i>
        </div>
    </div>
    <hr>
    <div class="posts">
        <div class="row p-5">
            <div class="col-md-9 p-2">
                <div class="card car-body">
                    <div class="avatar mt-4">
                        <img src="https://media.istockphoto.com/photos/learn-to-love-yourself-first-picture-id1291208214?b=1&k=20&m=1291208214&s=170667a&w=0&h=sAq9SonSuefj3d4WKy4KzJvUiLERXge9VgZO-oqKUOo=" alt="Avatar" class="avatar">
                        <img src="https://media.istockphoto.com/photos/african-mid-woman-using-smartphone-at-home-picture-id1319763415?b=1&k=20&m=1319763415&s=170667a&w=0&h=J9vN7w33elL-hY1CogyTB2BzzKpiEbmPqTdsQ6fBbuI=" alt="Avatar" class="avatar">
                        <img src="https://media.istockphoto.com/photos/good-opportunity-just-made-its-way-to-her-picture-id1284106261?b=1&k=20&m=1284106261&s=170667a&w=0&h=tT99_j-_Q7flxbpQNGPGL6fT6n7h6HokRMTkAZp_DPQ=" alt="Avatar" class="avatar">
                        <img src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHBlb3BsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Avatar" class="avatar">
                        <img src="https://media.istockphoto.com/photos/mother-and-little-daughter-at-home-picture-id1285783771?b=1&k=20&m=1285783771&s=170667a&w=0&h=OsGkpCBv-Y8A57lWhsoaDdC7Gqs4MyjS4gsU_I5V7HY=" alt="Avatar" class="avatar">
                        <img src="https://media.istockphoto.com/photos/excited-black-african-american-man-having-a-video-call-on-smartphone-picture-id1311088144?b=1&k=20&m=1311088144&s=170667a&w=0&h=mKa9ih4ts9WfGAEpXVQMl7mI4V-NcbWeBg3LtPxs1nU=" alt="Avatar" class="avatar">
                        <img src="https://media.istockphoto.com/photos/positive-woman-video-calling-using-laptop-at-home-picture-id1333405308?b=1&k=20&m=1333405308&s=170667a&w=0&h=gyLwbbUfXW6l9vNP9OEnIK2y28z7h8nN0DtQIAJFeLk=" alt="Avatar" class="avatar">
                        <!-- <img src="https://media.istockphoto.com/photos/self-management-is-a-freelancers-greatest-tool-picture-id1294442411?b=1&k=20&m=1294442411&s=170667a&w=0&h=DzebibUiw8fb056LdMdG5oKURp9LJHfohv_nSG1d764=" alt="Avatar" class="avatar">
                        <img src="https://media.istockphoto.com/photos/young-man-with-backpack-taking-selfie-portrait-on-a-mountain-smiling-picture-id1329031407?b=1&k=20&m=1329031407&s=170667a&w=0&h=J6qRqj9hbKtSVwIfMJhcRXf3AEyAOshph2IAbPHwNUo=" alt="Avatar" class="avatar">
                        <img src="https://media.istockphoto.com/photos/young-man-is-playing-with-a-dog-and-do-selfie-picture-id1300658241?b=1&k=20&m=1300658241&s=170667a&w=0&h=0lrTViinfnDjbWDgxV0TDDSAXvzSgmrN-pKq0q60hqA=" alt="Avatar" class="avatar">
                        <img src="https://media.istockphoto.com/photos/portrait-of-smiling-mixed-race-woman-looking-at-camera-picture-id1319763830?b=1&k=20&m=1319763830&s=170667a&w=0&h=wE44n9yP1nrefeqv5DCl5mE3ouU01FNNHeZPR0yDCWA=" alt="Avatar" class="avatar">
                        <img src="https://media.istockphoto.com/photos/positive-mindset-positive-life-picture-id1272765753?b=1&k=20&m=1272765753&s=170667a&w=0&h=8Twyimx9TOKgr67OrabNA5sUeEgYT7ckM5HU6fnL5Ik=" alt="Avatar" class="avatar">
                        <img src="https://media.istockphoto.com/photos/positivity-puts-you-in-a-position-of-power-picture-id1299077582?b=1&k=20&m=1299077582&s=170667a&w=0&h=Esjqlg_WCWmTc83Dv6PLhwPFwYN9uXoclBn0cUhtS5I=" alt="Avatar" class="avatar"> -->
                       </div>
                </div>
            </div>
            <div class="col-md-9">
               <div class="card card-body">
                   <div class="avatar">
                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
                    <p class="p-2">jayden</p>
                    <i class="bi bi-three-dots"></i>
                   </div>
                   <hr>
                   <img src="https://media.istockphoto.com/photos/flying-autumn-leaves-picture-id1262572653?b=1&k=20&m=1262572653&s=170667a&w=0&h=gDPYPtFysu7SFBKDrxt7xXniv2xC5WhFSlbuxTGT45Q=" alt="">
                   <div class="icons p-3">
                    <i id="icon" class="bi bi-heart"></i>
                    <i id="icon" class="bi bi-chat"></i>
                    <i id="icon" class="bi bi-send"></i>
                    <i id="icon" style=" display: flex; justify-content: flex-end;" class="bi bi-bookmark"></i>
                   </div>
                   <h6>1,626 likes</h6>
                   <p style="font-weight: 600;">The best stock of images around</p>
                   <hr>
                   <div class="comment">
                    <i style="font-size: 20px;" class="bi bi-emoji-smile"></i>
                    <input type="text" placeholder="add comment">
                    <h6>post</h6>
                   </div>
               </div> 
            </div>
            <div class="col-md-3">
                <div class="card card-body">
                    <div class="avatar mt-4">
                     <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar">
                     <p class="p-2">Lesly</p>
                     <i class="bi bi-three-dots"></i>
                    </div>
                    <hr>
                    <img src="https://images.unsplash.com/photo-1629735215150-d988775b90cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE0MHxSX0Z5bi1Hd3Rsd3x8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                    <div class="icons p-3">
                     <i id="icon" class="bi bi-heart"></i>
                     <i id="icon" class="bi bi-chat"></i>
                     <i id="icon" class="bi bi-send"></i>
                     <i id="icon" style=" display: flex; justify-content: flex-end;" class="bi bi-bookmark"></i>
                    </div>
                    <h6>626 likes</h6>
                    <p style="font-weight: 600;">The best stock of images around</p>
                    <hr>
                    <div class="comment">
                     <i style="font-size: 20px;" class="bi bi-emoji-smile"></i>
                     <input type="text" placeholder="add comment">
                     <h6>post</h6>
                    </div>
                </div> 
             </div>
        </div>
    </div>
</div>
{%endblock%}