{% extends 'base/base2.html'%}
{%block content%}
<div class="contaier">
    <div class="header">
        <div class="header-left">
            <img class="logo" src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png" alt="insta">
        </div>
        <div class="header-centre">
            <input type="text" name="search" placeholder="search">
        </div>
        <div class="header-right">
            <i class="bi bi-house-door-fill"></i>
            <i class="bi bi-send"></i>
            <i class="bi bi-plus-square"></i>
            <i class="bi bi-camera-reels"></i>
            <i class="bi bi-heart"></i>
            <i class="bi bi-person-circle"></i>
        </div>
    </div>
</div>
{%endblock%}